
<div class="m-4">
  <h6>Artist By Name</h6>
  <div class="row d-flex">
    <div class="col-2">
      
      <form [formGroup] ="findArtistbyNameForm">
      <input
        type="text"
        class="form-control"
        placeholder="Enter"
        formControlName="findByName"
      />
      </form>
    </div>
    <button class="btn btn-success col-1" (click)="findArtristByName()">Search</button>
    <div class="row mt-4" *ngIf="actors!=undefined||null">
      <div class="col-2 heading">Name</div>
      <div class="col-2 heading">Id</div>
      <div class="d-flex" *ngFor="let actor of actors">
        <div class="col-2">{{actor.name}}</div>
        <div class="col-2">{{actor.id}}</div>
      </div>
    </div>
  </div>

</div>




